body{
    margin: 0;
    padding: 0;
    background-color: #F2F0F1;
    font-family: 'Mulish', sans-serif;
}

main {
    display: flex;
}

.chat {
    width: 20%;
    justify-content: center;
    border-radius: 30px;
}

.discussion {
    width: 80%;
    justify-content: center;
    border-radius: 30px;
}

.chat h3 {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
    border-radius: 15px;
    background-color: #3068D9;
    color: #F2F0F1;
}

.discussion h3 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 10;
    height: 50px;
    background-color: #F2F0F1;
    color: #010101;
}

#chatbox {
    height: 300%;
    background-color: #f3ecee;
    margin: 0px;
}

#demande_utilisateur {
    font-size: 16px;
    border: 2px solid #3068D9;
    border-radius: 15px;
    margin: 10px;
    padding: 3px;
    width: 80%;
    height: 25px;
}

.User-message {
    align-items: end;
    background-color: #3068D9;
    border-radius: 10px;
    height: 25px;
    width: 60%;
    display: flex;
    padding: 7px;
    margin: 10px;
    color: #F2F0F1;
    font-size: 14px;
}
        
.Nora-message {
    align-items: start;
    background-color: #8095BF;
    border-radius: 10px;
    height: 25px;
    width: 60%;
    display: flex;
    padding: 7px;
    margin: 10px;
    color: #F2F0F1;
    font-size: 14px;
}

.button {
    background-color: #f3ecee;
}